@font-face {
    fx-font-family: "Genos SemiBold";
    src: url('/fonts/Genos-SemiBold.ttf');
}
@font-face {
    fx-font-family: "Albert Sans Light";
    src: url('/fonts/AlbertSans-VariableFont_wght.ttf');
}
@font-face {
    fx-font-family: "Albert Sans Black";
    src: url('/fonts/AlbertSans-VariableFont_wght.ttf');
}
@font-face {
    fx-font-family: "Albert Sans Italic";
    src: url('/fonts/AlbertSans-Italic.ttf');
}

@font-face {
    fx-font-family: "Albert Sans Medium";
    src: url('/fonts/AlbertSans-VariableFont_wght.ttf');
}


BorderPane {
    -fx-background-color: #303030;
}


#lblRetroRack{
    -fx-font-family: "Genos SemiBold";
    -fx-font-size: 56px;
    -fx-text-fill: white;
}

#paneDescubrir, #paneBiblioteca {
     -fx-background-color: #181818;
     -fx-padding: 10px;  
}

#paneBiblioteca {
     -fx-background-color: #181818;
     -fx-padding: 10px;
}

#lblBiblioteca {
	-fx-background-radius: 10 0 0 10;
}

#lblDescubrir {
	-fx-text-fill: #ffe86f;
 	-fx-alignment: center;
 	-fx-font-size: 24px;
 	-fx-font-family: "Albert Sans Medium";
 	-fx-padding: 0 0 0 0;
 	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.3, 0, 0);
}

#paneDescubrir {
 	-fx-effect: innershadow(gaussian , black, 10, 0.5 , 0, 0);
 	-fx-text-fill: #FFE86F;
 	-fx-background-radius: 0 10 10 0;	
}

#paneBiblioteca {
 	 -fx-background-radius: 10 0 0 10;	
}

#brujula1, #brujula2 {
	-fx-fill: #ffe86f;
	-fx-translateY: 2.5;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.3, 0, 0);

}

#libreriaIcon {
	-fx-fill: #FFF;
	
}

#searchBar {
	-fx-background-color: #181818;
	-fx-background-radius: 0 50 50 0;
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, -4, 0);
	-fx-font-size: 27px;
	-fx-font-family: "Albert Sans";
	-fx-text-fill: #FFF;
}

#searchIcon {
	-fx-background-color: #181818;
	-fx-background-radius: 50 0 0 50;
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 4, 0);
}
#searchBar .text {
    -fx-fill: gray;
}




