/* ScrollPane */
.scroll-pane {
    -fx-background-color: #303030;
}

/* VBox */
VBox {
    -fx-background-color: #303030;
}



/* Labels */
.label {
    -fx-text-fill: white;
    -fx-font-size: 56.0px;
}

BorderPane {
	-fx-background-color: #151515;
	-fx-background-radius: 10;
	
}

.image-view {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.9), 30, 0.5, 0, 0);
}
